BYBIT_API_KEY=your_testnet_api_key
BYBIT_API_SECRET=your_testnet_api_secret
BYBIT_TRADING_MODE=demo
BYBIT_CATEGORY=linear
BOT_SYMBOL=BTCUSDT
BOT_INTERVAL=15
BOT_DEFAULT_QTY=0.001
BOT_RECV_WINDOW=5000
